{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-5 col-md-6 m-auto card p-4">
            <form action="{{ request.path }}" method="POST" class="card-body">
                {{ form.csrf_token }}

                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="text-center">
                        <h2>Sparks AI User Authentication</h2>
                        Login with Google to continue.
                </div>
                <div class="text-left">
                        <p>
                        <br>
                        <br>
                        By logging in, you agree that:
                        <ul>
                            <li>Your information will be stored and processed by Sparks AI.</li>
                            <li>It may be shared with third-party language model providers like <a href="https://openai.com/">OpenAI.</a></li>
                            <li>Data will be linked to your email (this includes chat history).</li>
                            <li>Data will be used to train and improve Sparks AI.</li>
                        </ul>                        
                        <br>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" href="{{ url_for('oauth2_authorize', provider='google') }}">Login with Google</a>
                    </div>
                    </p>
                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}