{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container py-4 text-center">


    {% if current_user.is_authenticated %}

    <h1>Welcome {{ current_user.username }}</h1>
    <br>
    <br>
    <a href="{{url_for('sparks_ai')}}">Sparks AI</a>
    <br>
    <a href="{{url_for('logout')}}">Logout</a>

    {% else %}

    <h1>Welcome to Sparks AI!</h1>
    <p>Please login to continue</p>
    <br>
    <a href="{{url_for('login')}}">Sign in</a>

    {% endif %}
</div>
{% endblock %}