{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.js"></script>
</head>

<body>
    <div class="container">
        <h1 class="jumbotron text-center">Sparks AI</h1>
        <div class="chat-container">
            <div class="chat-box" id="chatbox">
                {% for message in messages %}
                    {% if message.user == "bot" %} <div class="bot-message">{{ message.text }}</div> 
                    {% else %} <div class="user-message">{{ message.text }}</div> 
                    {% endif %}
                {% endfor %}
            </div>
            <form hx-post="/ask" hx-target="#chatbox">
                <textarea id="textInput" class="form-control input-text" name="msg" placeholder="Type Your Message Here"></textarea>
                <input id="buttonInput" class="btn btn-success input-button" type="button" value="Send">
            </form>
        </div>
    </div>
</body>

{% endblock %}
